#mainContent{
    margin:2em 0em 0em 17em;
    background-color: #c2b9b03b;
    height:auto;
}

#item-type {
    margin-left: 3em;
    font-size:2em;
    padding-top: 1.5em;
}

.entry{
    display: inline-flex;
    flex-direction: column;
    padding:1em;
    margin-left: 4em;
    margin-right: 4em;
    margin-top:1em;
}
.entry img{
    width:175px;
    height:175px;
    margin-left: 8em;
}


.item-info{
    display: flex;
    flex-direction: column;
}
.item-info p{
    margin-left:3em;
    margin-top:2em;
}


.btn{
    background-color: #6f9fd8;
    padding: .75em .75em;
    color:white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1em;
    display: block;
    width: 40%;
}
